.embla {
    margin: auto;
    max-width: 100%;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-spacing-sm: 10rem;
    --slide-size-sm: 20%;
    --slide-spacing-lg: 2rem;
    --slide-size-lg: calc(100% / 4);
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 300px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing-sm) * -1);
    }
}

@media (min-width: 750px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing-lg) * -1);
    }
}

.embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 300px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-sm);
        padding-left: var(--slide-spacing-sm);
    }
}

@media (min-width: 750px) {
    .embla__slide {
        padding-left: var(--slide-spacing-sm);
    }
}

@media (min-width: 1200px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-lg);
        padding-left: var(--slide-spacing-lg);
    }
}

.embla__slide__number {
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
}

.embla__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
}

@media (max-width: 767px) {
    .embla__controls {
       display: none;
    }
}

.embla__buttons {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

.embla__button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.embla__button__svg {
    width: 35%;
    height: 35%;
}

.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.embla__dot {
    -webkit-appearance: none;
    appearance: none;
    background-color: slategrey;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: url("/rocket-fire.png"), auto;
    border: 0;
    padding: 0;
    margin: 0.1rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.embla__dot:after {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.embla__dot--selected:after {
    background-color: orangered;
}

.embla__play {
    -webkit-appearance: none;
    text-decoration: none;
    cursor: url("/rocket-fire.png"), auto;
    display: flex;
    font-size: 1.5rem;
}
