* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* Prevents horizontal scrollbar */
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: #cac9c9;
  background-image: url("/maons.svg");
  background-repeat: repeat;
  background-position: -60px 0;
}

a {
  color: inherit;
  text-decoration: none;
}