* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
  scroll-behavior: smooth;
}

body {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
